<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myattendance"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/list"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.myattendance.Mainpage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".Addbatch" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity android:name=".AddStudent" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity android:name=".Dynamicdatabase" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity android:name=".Edit"></activity>
        <activity android:name=".Markattendance" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity android:name=".Myadapter"></activity>
        <activity android:name=".View_Report"></activity>
         <activity android:name=".Deletestudent"></activity>
                <activity android:name=".Deletebatch"></activity>
        <activity android:name="mypackage.MultiListView" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity android:name="mypackage.MultiSelectionAdapter" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
    </application>

</manifest>
